// ### animation
// CSS animations, since Compass doesn't have any provisions for animation.
// Also see [keyframes](#keyframes).
//
//     @import 'utils/animation';
//
//     .box {
//       @include animation(bounce 300ms linear infinite);
//     }
//
= animation($args)
  -webkit-animation: $args
  -moz-animation: $args
  -ms-animation: $args
  -o-animation: $args
  animation: $args
